absl-py==2.1.0
accelerate==1.1.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anthropic==0.47.2
anyio==4.8.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.1.0
axial-positional-embedding==0.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
certifi==2025.1.31
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.7
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.1.0
debugpy==1.8.5
decorator==5.1.1
Deprecated==1.2.15
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.9
distro==1.9.0
docker==7.1.0
einops==0.4.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.8
fastcore==1.7.27
filelock==3.16.1
filetype==1.2.0
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.9.0
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.6.0
ghapi==1.0.6
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.67.1
grpclib==0.4.7
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.26.2
hyperframe==6.1.0
identify==2.6.3
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.4
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
kaleido==0.2.1
keras==3.6.0
kiwisolver==1.4.7
langchain==0.3.19
langchain-community==0.3.13
langchain-core==0.3.40
langchain-ollama==0.2.3
langchain-text-splitters==0.3.6
langsmith==0.3.11
libclang==18.1.1
libcst==1.6.0
llama-cloud==0.1.12
llama-cloud-services==0.6.0
llama-index==0.12.16
llama-index-agent-openai==0.4.5
llama-index-cli==0.4.0
llama-index-core==0.12.16.post1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.4
llama-index-llms-openai==0.3.18
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.4
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.0
llvmlite==0.43.0
local-attention==1.4.4
lxml==5.3.0
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.7.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
modal==0.73.24
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
mypy-extensions==1.0.0
mysql-connector-python==9.1.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numpy==1.26.4
ollama==0.4.7
openai==1.64.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.15
packaging==24.2
pandas==1.5.3
parso==0.8.4
patool==1.12
peewee==3.17.8
peft==0.13.2
pexpect==4.9.0
pillow==10.4.0
pip-review==1.3.0
platformdirs==4.2.2
plotly==5.24.1
pre_commit==4.0.1
product-key-memory==0.1.10
prompt_toolkit==3.0.47
propcache==0.3.0
protobuf==5.28.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.0.0
pydantic==2.10.6
pydantic-settings==2.7.0
pydantic_core==2.27.2
Pygments==2.18.0
pyparsing==3.1.4
pypdf==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
sacremoses==0.1.1
safetensors==0.4.5
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
shellingham==1.5.4
sigtools==4.0.1
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sktime==0.16.1
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
stack-data==0.6.3
starlette==0.45.3
striprtf==0.0.26
swebench @ git+https://github.com/princeton-nlp/SWE-bench@ee09c356410a330bbdceef14313ab60e9081dc1f
sympy==1.11.1
synchronicity==0.9.10
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tf_keras==2.18.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.3
toml==0.10.2
torch==2.0.0
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
trl==0.12.1
typer==0.15.1
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
unidiff==0.7.5
urllib3==2.3.0
virtualenv==20.28.0
watchfiles==1.0.4
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.16.0
XlsxWriter==3.2.0
xxhash==3.5.0
yarl==1.18.3
yfinance==0.2.50
zipp==3.20.1
zstandard==0.23.0
